<div *ngIf="cocktailDetails" class="bg-white">
  <div class="pt-6">
    


    <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8">
      <div class="aspect-h-4 aspect-w-3 hidden overflow-hidden rounded-lg lg:block">
        <img [src]="cocktailDetails.strDrinkThumb" alt="{{ cocktailDetails.strDrink }}" width="200">
      </div>
    </div>


    <div
      class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
      <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">{{ cocktailDetails.strDrink }}</h1>
      </div>



      <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
        <div class="mt-10">
          <h3 class="text-sm font-medium text-gray-900">Instructions</h3>

          <div class="mt-4">
            <ul role="list" class="list-disc space-y-2 pl-4 text-sm">
              <li class="text-gray-400"><span class="text-gray-600">{{ cocktailDetails.strInstructions }}</span></li>
            </ul>
          </div>
        </div>

        <div class="mt-10">
          <h2 class="text-sm font-medium text-gray-900">Details</h2>
          <button class="bg-transparent hover:bg-blue-500 mr-6 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" (click)="setLanguage('Default')">Default</button>
          <button class="bg-transparent hover:bg-blue-500 mr-6  text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" *ngFor="let language of getAvailableLanguages()" (click)="setLanguage(language)">
            <span *ngIf="language.length > 0"></span>
            {{ language }}
          </button>

          <ul class="list-disc space-y-2 pl-4 text-sm">
            <li class="text-gray-400" *ngIf="selectedLanguage">
              <p>{{ getInstructions() }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
